body
{
    background-color: #21242d;
    color: #74f59a;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

/* body::-webkit-scrollbar {
    display: none;
  } */


.container
{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.article
{
    color: #21242d;
    display: flex; 
    border-radius: 10%;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background-color: #74f59a;
}

.article-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    width: 90%;
    margin: 20px;
    font-size: x-large;
    font-weight: bold;

}

.article-body
{
    display: flex;
    margin: 24px;

}


.buffer
{
    display: flex;
    justify-content: center;

    height: 80px;
    width: 200px;
    object-fit: cover;

    margin-left: auto;
    margin-right: auto;

}

.buffer img{
    width: 800px;
    height: 225px;
    object-fit: cover;
    object-position: 20% 10%;
}


.heading
{
    text-align: center;
    color: #74f59a;
    font-size: 96px;
    padding: 50px
}

.subheading
{
    justify-self: center;
    align-self: center;
    text-align: center;
}

.fade-in-slower
{
    opacity: 1;
    animation: fadeIn 2s
}

.fade-in-slow
{ 
    opacity: 1;
    animation: fadeIn 1.5s; 
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


.fade-in-fast
{ 
    opacity: 1;
    animation: fadeIn 0.75s; 
}

.grow-scroll
{
    animation: growScroll 1s;
}

@keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes growScroll
{
    0%{ width: 0px;}
    100%{ width: 700px;}

}

.search-container
{
   display: flex;
   margin: 200px;
   justify-self: center;
   align-self: center;
   justify-content: space-between;
   align-items: center;
}

.query
{
    display: flex;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    height: 80px;
    width: 700px;
}

.btn-query
{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    background-color: #74f59a;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #21242d;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

