.container
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.article
{
    display: flex; 
    border-radius: 10%;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background-color: #74f59a;
    margin: 36px;
}

.article-title
{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    font-size: larger;
    font-weight: 500;

}

.buffer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #21242d;
    font-family: 'Courier New', Courier, monospace;
}

.heading
{
    text-align: center;
    color: #74f59a;
    font-size: 96px;
    padding: 50px
}