<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{{ url_for('static', filename='display.css')}}">
</head>

<body>
  <div class="heading fade-in-slower">
    wiki-scrape
  </div>

    <div class="search-container">
      <input class="query grow-scroll" type="query">
      <button type="send-query" class = "btn-query fade-in-slower" onclick="query()"> query </button>

      </button>
    </div>
    
    <script>
      const textBox = document.querySelector('input')
      const btnQuery  = document.querySelector('button')

      textBox.addEventListener('keydown', (e) => {
          if(e.key === 'Enter')
          {
            query()
          }      
      })


  
      function query()
      {
          window.location.replace("/display/" + textBox.value.replace(' ', '_'))
      }
    </script>

</body>
</html>